nav {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #333;
  padding: 10px 0;
  z-index: 1000;
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
}

nav li {
  margin: 0 15px;
}

nav a {
  color: white;
  text-decoration: none;
  font-size: 18px;
}

nav a:hover {
  text-decoration: underline;
}

body {
  margin: 0;
  padding: 0;

  overflow-y: hidden;
  overflow-x: hidden;
}

.App {
  margin-top: 0;
  display: flex;
}

.content {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  display: flex;
  background-color: #0c0a10;
}

.wallpaperBox {
  height: 100%;
  width: 100%;
}

.homepagebox {
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-rows: 50% 50%;
    grid-template-columns: 2fr 1fr
}

.todaypagebox {
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-columns: 2fr 1fr
}

.contentbox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 5px solid rgb(57, 14, 158);
  background-color: #181818;
  border-radius: 14px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
  margin-top: 20px;
  font-size: 20px;
  max-width: 100%;
}

.homepagebox .contentbox:nth-child(1) {
  grid-column: span 2;
}

.homepagebox .contentbox:nth-child(2) {
  grid-column: 1;
}

.homepagebox .contentbox:nth-child(3) {
  grid-column: 2;
}

.nasa-apod {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  overflow: auto;
  padding: 10px;
  box-sizing: border-box;
}

.nasa-apod-image-column {
  flex: 1;
  max-width: 50%;
  padding-right: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.nasa-apod-image-column img {
  display: block;
  max-width: 100%;
  height: auto;
  max-height: 90%;
  object-fit: contain;
}

.nasa-apod-text-column {
  flex: 1;
  padding-left: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}


.nasa-apod h2, .nasa-apod h3, .nasa-apod .date, .nasa-apod .explanation {
  width: 100%;
  text-align: left;
  margin-bottom: 8px;
  overflow-wrap: break-word;
  word-break: break-word;
}

.nasa-apod .explanation {
  font-size: 0.8em;
  text-align: justify;
}

#aboutbox {
  padding-left: 100px;
  padding-right: 100px;
}

#calendarbox {
  width: 100%;
}

